@font-face {
  font-family: "Love Ya Like A Sister";
  src: 
    url("lib/love-ya-like-a-sister/loveyalikeasister-regular.woff2") format("woff2"),
    url("lib/love-ya-like-a-sister/loveyalikeasister-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --primary-background: #cad8cc;
  --secondary-background: #f3f9f4;
  --hero-background: url("./lib/kristaps-solims-g6is2Vvc6VI-unsplash.jpg");
  --primary-header-size: clamp(1.6rem, 3vw, 3rem);
  --secondary-header-size: clamp(1.6rem, 2vw, 2.4rem);
  --email-pattern: "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
}

body {
  font-family: Futura, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  line-height: 1.4;
}

h1, p {
  font-family: "Love Ya Like A Sister", Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero a {
  color: #d4d4d4;
}

.hero a:hover {
  color: #8d8d8d;
}

.hero {
  color: white;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: var(--hero-background);
  background-size: cover;
  height: 100vh;
}

.hero-header {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vh;
  height: 20vh;
  width: 100%;
  padding: 10px;
  background-color: #00000079;
}

.hero-header img {
  width: 20vh;
}

.hero-header h1 {
  width: 15vw;
  font-size: var(--primary-header-size);
}

.hero-image-credit {
  font-size: 1rem;
  position: absolute;
  bottom: 2vh;
}

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--primary-background);
}

.content a {
  font-weight: bold;
  color: rgb(40, 73, 40);
}

.content a:hover {
  color: #8d8d8d;
  font-weight: bold;
}

.content-header {
  padding: 5vh 5vw;
  font-size: var(--secondary-header-size);
  font-weight: bold;
  flex: 1;
}

.content-header p:first-child {
  text-indent: -0.5em;
}

.content-header p:last-child {
  position: relative;
  left: 10vw
}

.content-header p {
  margin: 2.5vh 0;
}

.form-container {
  flex: 1;
  background: var(--secondary-background);
  padding: 3vh 5vw;
  box-shadow: 0px 3px 3px rgb(134, 134, 134);
  clip-path: 0 -15px 0 0;
}

.form {
  display: flex;
  flex-direction: row;
}

.form input {
  padding: 5px;
  box-shadow: inset -1px 1px 5px grey;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px 0;
}

.form-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-variant: small-caps;
}

.form input:focus {
  outline: 1px solid steelblue;
  box-shadow: 2px 2px 5px rgb(115, 115, 115);
}

.form input:user-invalid {
  border: 2px dashed crimson;
}

.call-to-action {
  flex: 1;
  margin: 5vh 5vw;
  width: 180px;
}

.call-to-action button {
  width: 100%;
  background-color: darkolivegreen;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 1px 2px 2px gray;
}

.call-to-action button:hover {
  background-color: olivedrab;
}

@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
  }

  .hero {
    flex: 1;
    height: 25vh;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content {
    flex: 1;
  }

  .hero-header {
    top: 0;
    font-size: 3vw;
  }

  .hero-header img {
    width: 35vw;
  }
}